@import "variaveis";
#todoform {
  background:#4f4f4f;
  font:12px arial, verdana, helvetica, sans-serif;
  border-top:8px solid $bordacinzalight;
  border-left:8px solid $bordacinzalight;
  border-right:8px solid $bordacinzadark;
  border-bottom:8px solid $bordacinzadark;
  border-collapse:collapse;
  color: $laranja;

  th {
    background: $preto;
    padding: 3px;
    font: bold 15px arial, verdana, helvetica, sans-serif;
    border-bottom:1px solid $laranja;
  }

  td {
    padding: 3px;
  }

  input {
    background: $cinza;
    border: 1px solid $laranja;
  }

  textarea {
    border:1px dashed $laranja;
  }

  input {
    &.botao {
      background: $preto;
      color: $branco;
      border: 2px solid $branco;
    }
  }
}
