@import "variaveis";
@mixin bordaDoForm ($tamanhoBorda: 8px, $tipoBorda: solid, $superiorEsquerda: $bordacinzalight, $superiorDireita: $bordacinzadark) {
  border-top:8px solid $superiorEsquerda;
  border-left:8px solid $superiorEsquerda;
  border-right:8px solid $superiorDireita;
  border-bottom:8px solid $superiorDireita;
}
#todoform {
  background:#4f4f4f;
  font:12px arial, verdana, helvetica, sans-serif;
  border-collapse:collapse;
  @include bordaDoForm(8px);
  color: $laranja;

  th {
    background: $preto;
    padding: 3px;
    font: bold 15px arial, verdana, helvetica, sans-serif;
    border-bottom:1px solid $laranja;
  }

  td {
    padding: 3px;
  }

  input {
    background: $cinza;
    border: 1px solid $laranja;
    &.botao {
      background: $preto;
      color: $branco;
      border: 2px solid $branco;
    }
  }

  textarea {
    border:1px dashed $laranja;
  }

}
