/* line 8, ../sass/_form.scss */
#todoform {
  background: #4f4f4f;
  font: 12px arial, verdana, helvetica, sans-serif;
  border-collapse: collapse;
  border-top: 8px solid #cfcfcf;
  border-left: 8px solid #cfcfcf;
  border-right: 8px solid #696869;
  border-bottom: 8px solid #696869;
  color: #ff9900;
}
/* line 15, ../sass/_form.scss */
#todoform th {
  background: black;
  padding: 3px;
  font: bold 15px arial, verdana, helvetica, sans-serif;
  border-bottom: 1px solid #ff9900;
}
/* line 22, ../sass/_form.scss */
#todoform td {
  padding: 3px;
}
/* line 26, ../sass/_form.scss */
#todoform input {
  background: #b5b5b5;
  border: 1px solid #ff9900;
}
/* line 29, ../sass/_form.scss */
#todoform input.botao {
  background: black;
  color: white;
  border: 2px solid white;
}
/* line 36, ../sass/_form.scss */
#todoform textarea {
  border: 1px dashed #ff9900;
}
